.divisor {
    width: 100%;
    height: auto;
    background-color: #ff171f;
    color: #fff;
    font-size: 18pt;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}