.cartC{
    display: flex;
    align-items: center;
}

.fa-solid{
    color: white;
    
}

.cartNum{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #ff171f;;
    font-size: medium;
    font-weight: 600;
    margin-left: 4px;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    padding-right: 3px;
}
