.goShop{
    margin-top: 8px;

}

.divGoShop{
    display: flex;
    justify-content: center;
}

.divCart{
    min-height: 300px;
}

.tableCart{
    color: white;
}

.btnCheckout{
    margin-left: 3px;
}